*desktop.ini
*.log
*.pw
*.zip
*.log
*.pw
* =====Sub Directories=====
*oauth2.txt
.\lib\gam-64\oauth2.txt

Archive
log
Logs
log/*
test/log/*
logs/*
test/logs/*
/jenkins.ps1
/notes.ps1
/lib/gam-64/oauth2service.json
/lib/gam-64/client_secrets.json
/lib/gam-64/roots.pem